%patht = '/static/ViewerJS/index.html?startpage=2#/' + "static/test/CV_Gecnuk2023_05_ENG.pdf"
<iframe style="float:left;" src = {{patht}} width='650' height='600' allowfullscreen webkitallowfullscreen></iframe>
%patht = '/static/ViewerJS/index.html?startpage=10#/' + "static/test/DP_2023_gecnuk_19_05.odt"
<iframe style="float:left;" src = {{patht}}  width='650' height='600' allowfullscreen webkitallowfullscreen></iframe>
%patht = '/static/ViewerJS/index.html#/' + "static/test/cpix0b_mereni.ods"
<iframe style="float:left;" src = {{patht}}  width='650' height='600' allowfullscreen webkitallowfullscreen></iframe>
%patht = '/static/ViewerJS/index.html#/' + "static/test/2806_colorpix1_range_upgrade.odp"
<iframe style="float:left;" src = {{patht}}  width='650' height='600' allowfullscreen webkitallowfullscreen></iframe>



------------------------------------------------------------

zobrazeni nahledu v result.tpl

%if (".pdf" in d['filename']):
            %pagestart = re.findall('[0-9]+', d['snippet'])
            %if pagestart:
                <details>
                    <summary role="button" class="secondary">View pdf here</summary>
                    %link =  '/static/ViewerJS/index.html#/' + 'download/'+ str(number-1) + '?' +query_string
                    %link = '/static/ViewerJS/index.html?startpage=' + pagestart[0] + '#/download/'+ str(number-1) + '?' +query_string
                    <iframe style="float:right;margin-bottom:1rem;" src = {{link}} width='650' height='600' allowfullscreen webkitallowfullscreen navbar="false"></iframe>
                </details>
            %end
        %end
        %if (".odt" in d['filename']):
                <details>
                    <summary role="button" class="secondary">view odt</summary>
                    %link =  '/static/ViewerJS/index.html#/' + 'download/'+ str(number-1) + '?' + query_string
                    %link =  '/static/ViewerJS/index.html#/' + 'download/'+ str(number-1) + '?' + query_string
                    {{link}}
                    <iframe style="float:right;margin-bottom:1rem;" src = {{link}} width='650' height='600' allowfullscreen webkitallowfullscreen ></iframe>
                </details>
        %end